section#section-banner
	.home-banner
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					a(href="").slide-inner
						img(src="./img/banner/b-3.jpg" alt="")
						.content
							.title.fw700.text-uppercase tôi là ai
				.swiper-slide
					a(href="").slide-inner
						img(src="./img/banner/b-2.jpg" alt="")
						.content
							.title.fw700.text-uppercase tôi là ai
				.swiper-slide
					a(href="").slide-inner
						img(src="./img/banner/b-1.jpg" alt="")
						.content
							.title.fw700.text-uppercase tôi là ai
				.swiper-slide
					a(href="").slide-inner
						img(src="./img/banner/b-4.jpg" alt="")
						.content
							.title.fw700.text-uppercase tôi là ai
